body{
    margin: 15px;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.palete{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 35px;

}
.palatecontent{

}
.palate-color{
    height: 150px;
    position: relative;
}
.palate-desc{
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 10px;
    display: inline;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.palete-input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-top: none;
    text-align: center;

}